A:Hover {color: #FF0000}
.menulink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.destaque {color: #990000}
.titulo {line-height: normal}
blockquote {font-family: Georgia, "Times New Roman", Times, serif; font-size: 10pt}
p {font-family: Georgia, "Times New Roman", Times, serif; line-height: 18pt}
li {font-family: Georgia, "Times New Roman", Times, serif; line-height: normal; margin-top: 7px; font-size: 9pt}
.nota {font-family: Georgia, "Times New Roman", Times, serif; font-size: 9pt; line-height: normal}
.p2 {font-family: Georgia, "Times New Roman", Times, serif; line-height: 10pt; font-size: 8pt}
.menu_peq {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal}
.linkines {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: bold; color: #660000; text-decoration: none}
